In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
.appName('Creating own schema') \
.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/30 17:55:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/30 17:55:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType

In [6]:
schema = StructType([
    StructField('customer_id', IntegerType(), True),
    StructField('name', StringType(), True),
    StructField('city', StringType(), True),
    StructField('state', StringType(), True),
    StructField('country', StringType(), True),
    StructField('registration_date', StringType(), True),
    StructField('is_active', BooleanType(), True),
])

In [8]:
df = spark.read \
.format('csv') \
.option('header', 'true') \
.schema(schema) \
.load('/root/pyspark/first_100_customers.csv')

In [9]:
df.show()

+-----------+-----------+---------+-----------+-------+-----------------+---------+
|customer_id|       name|     city|      state|country|registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
|          0| Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1| Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2| Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3| Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|          4| Customer_4|Ahmedabad|  Karnataka|  India|       2023-03-14|    false|
|          5| Customer_5|Hyderabad|  Karnataka|  India|       2023-07-28|    false|
|          6| Customer_6|     Pune|      Delhi|  India|       2023-08-29|    false|
|          7| Customer_7|Ahmedabad|West Bengal|  India|       2023-12-28|     true|
|          8| Customer_8|     Pune|  Karnataka|  India|       2023-06-22|     true|
|          9| Customer_9|   Mumbai|  Telangana|  India|       2023-01-05|     true|
|         10|Customer_10|     Pune|    Gujarat|  India|       2023-08-05|     true|
|         11|Customer_11|    Delhi|West Bengal|  India|       2023-08-02|    false|
|         12|Customer_12|  Chennai|    Gujarat|  India|       2023-11-21|    false|
|         13|Customer_13|  Chennai|  Karnataka|  India|       2023-11-06|     true|
|         14|Customer_14|Hyderabad| Tamil Nadu|  India|       2023-02-07|    false|
|         15|Customer_15|   Mumbai|    Gujarat|  India|       2023-03-02|     true|
|         16|Customer_16|  Chennai|  Karnataka|  India|       2023-04-05|    false|
|         17|Customer_17|Hyderabad|West Bengal|  India|       2023-08-21|    false|
|         18|Customer_18|     Pune|      Delhi|  India|       2023-10-04|     true|
|         19|Customer_19|  Kolkata|    Gujarat|  India|       2023-02-05|     true|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- is_active: boolean (nullable = true)

In [12]:
df.select('name', 'city').show()

+-----------+---------+
|       name|     city|
+-----------+---------+
| Customer_0|     Pune|
| Customer_1|Bangalore|
| Customer_2|Hyderabad|
| Customer_3|Bangalore|
| Customer_4|Ahmedabad|
| Customer_5|Hyderabad|
| Customer_6|     Pune|
| Customer_7|Ahmedabad|
| Customer_8|     Pune|
| Customer_9|   Mumbai|
|Customer_10|     Pune|
|Customer_11|    Delhi|
|Customer_12|  Chennai|
|Customer_13|  Chennai|
|Customer_14|Hyderabad|
|Customer_15|   Mumbai|
|Customer_16|  Chennai|
|Customer_17|Hyderabad|
|Customer_18|     Pune|
|Customer_19|  Kolkata|
+-----------+---------+
only showing top 20 rows

In [17]:
df.filter(df.city=='Bangalore').show()

+-----------+-----------+---------+-----------+-------+-----------------+---------+
|customer_id|       name|     city|      state|country|registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
|          1| Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          3| Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|         21|Customer_21|Bangalore| Tamil Nadu|  India|       2023-05-30|     true|
|         38|Customer_38|Bangalore|  Telangana|  India|       2023-09-26|    false|
|         41|Customer_41|Bangalore|  Karnataka|  India|       2023-03-28|    false|
|         42|Customer_42|Bangalore|    Gujarat|  India|       2023-08-11|     true|
|         78|Customer_78|Bangalore|Maharashtra|  India|       2023-03-31|    false|
+-----------+-----------+---------+-----------+-------+-----------------+---------+